<div class="container">
  <header class="header">
    <h1>Products</h1>
    <div class="auth-buttons">
      <button *ngIf="!isLoggedIn" class="btn" (click)="login()">Login</button>
      <button *ngIf="!isLoggedIn" class="btn" (click)="register()">Register</button>
      <button *ngIf="!isLoggedIn" class="btn" (click)="logout()">Logout</button>
      <button *ngIf="!isLoggedIn" class="btn" (click)="manageProduct()">Manage Products</button>
      <button *ngIf="!isLoggedIn" class="btn" (click)="goToBasket()">View Cart</button>
    </div>
  </header>

  <div class="filter-form">
    <form (submit)="filterProducts()">
      <input type="text" [(ngModel)]="search" placeholder="Search" name="search" />
      <input type="number" [(ngModel)]="minPrice" placeholder="Min Price" name="minPrice" />
      <input type="number" [(ngModel)]="maxPrice" placeholder="Max Price" name="maxPrice" />
      <button type="submit" class="btn">Filter</button>
    </form>
  </div>

  <div *ngIf="products.length === 0">No products available.</div>
  <div class="product-list" *ngIf="products.length > 0">
    <div class="product-item" *ngFor="let product of products">
      <h2>{{ product.name }}</h2>
      <img [src]="product.image" alt="{{ product.name }}" />
      <p>{{ product.description }}</p>
      <p><strong>Price:</strong> ${{ product.price }}</p>
      <button class="btn" (click)="addToCart(product.id)">Add to Cart</button>
    </div>
  </div>
</div>
